<%- include('../layouts/header.ejs') -%>



  <link rel="stylesheet" href="/styleSheet/admin.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.js"></script>

  <style>
    td {
      padding: 25px;
      font-size: 20px;
    }
  </style>


  <div class="sidebar">
    <div class="logo"></div>
    <ul class="menu">
      <li class="active">
        <a href="/admin/dashboard">
          <i class="fa-solid fa-gauge-high"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-user"></i>
          <span>Profile</span>
        </a>
      </li>
      <li>
        <a href="/admin/user-detials">
          <i class="fa-solid fa-users"></i>
          <span>Users</span>
        </a>
      </li>
      <li>
        <a href="/admin/order-detials">
          <i class="fa-solid fa-check"></i>
          <span>Order</span>
        </a>
      </li>
      <li>
        <a href="/admin/products">
          <i class="fa-solid fa-cart-shopping"></i>
          <span>Products</span>
        </a>
      </li>
      <li>
        <a href="/admin/category">
          <i class="fa-solid fa-list"></i>
          <span>Category</span>
        </a>
      </li>
      <li class="logout">
        <a href="/admin/logout">
          <i class="fas fa-sign-out-alt"></i>
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="main--content">
    <div class="header--wrapper">
      <img src="/images/logo.png" style="width: 140px; height: 40px;" alt="">
      <div class="user--info">
        <img src="/images/admin.png" alt="">
        <h4>
          <%= admins.username %>
        </h4>
      </div>
    </div>
    <div class="card--container">
      <div style="display: flex; justify-content: space-between;">
        <h3 class="main--title">Custom Report</h3>
        <div>
          <% if(locals.info && locals.info.report){ %>
            <a id="download" class="btn btn-outline-success  ms-4">Dowload Pdf</a>
            <% } %>
        </div>
      </div>
      <br>
      <div id="report">
        <div style="justify-content: start;" class="card--wrapper">
          <div>
            <form action="/admin/custom-sale-report" method="post">
              <label for="">From Date : </label>
              <input class="border border-2 rounded-2 border-black btn btn-outline-dark"
                value="<%= locals.info && locals.info.From %>" name="from" type="date">
              <label for="">To Date : </label>
              <input class="border border-2 rounded-2 border-black btn btn-outline-dark"
                value="<%= locals.info && locals.info.To %>" name="to" type="date">
              <button type="submit" class="btn btn-outline-success ms-4" onclick="assignData()">Fillter</button>

            </form>
          </div>
        </div>
        <div class="tabular--wrapper">
          <% if(locals.info){ %>
            <% if(locals.info.Order){ %>
              <table>
                <thead>
                  <tr>
                    <th>Total Order</th>
                    <th>Total Revenue</th>
                    <th>Total Cancelled_Order</th>
                  </tr>
                </thead>
                <tbody>

                  <tr style="font-size: 20px;">
                    <td>
                      <%= info.Order %>
                    </td>
                    <td>
                      <%= info.Revenue %>
                    </td>
                    <td>
                      <%= info.CancelledOrder %>
                    </td>
                  </tr>

                </tbody>
              </table>
              <% }else{ %>
                <h4>No Detials Found</h4>
                <% } %>
                  <% }else{ %>
                    <h4>Choose Custom Date</h4>
                    <% } %>
        </div>
      </div>
    </div>
  </div>


  <script>

    window.onload = function () {

      const download = document.getElementById('download')
        .addEventListener('click', () => {

          const report = this.document.getElementById('report');
          const opt = {
            margin: 1,
            filename: 'report.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
          };
          html2pdf().from(report).set(opt).save()
        })
    };

  </script>




  <%- include('../layouts/footer.ejs') -%>