<%- include('../layouts/header.ejs') -%>

  <link rel="stylesheet" href="/styleSheet/admin.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <style>
    /* #interval {
      width: 100px;
      color: white;
    }

    #interval::-ms-expand {
      display: none;
    }

    #interval::-webkit-inner-spin-button,
    #interval::-webkit-outer-spin-button {
      -webkit-appearance: none;
      appearance: none;
    } */
  </style>

  <div class="sidebar">
    <br>
    <ul class="menu">
      <li class="active">
        <a href="/admin/dashboard">
          <i class="fa-solid fa-gauge-high"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-user"></i>
          <span>Profile</span>
        </a>
      </li>
      <li>
        <a href="/admin/user-detials">
          <i class="fa-solid fa-users"></i>
          <span>Users</span>
        </a>
      </li>
      <li>
        <a href="/admin/order-detials">
          <i class="fa-solid fa-check"></i>
          <span>Order</span>
        </a>
      </li>
      <li>
        <a href="/admin/products">
          <i class="fa-solid fa-cart-shopping"></i>
          <span>Products</span>
        </a>
      </li>
      <li>
        <a href="/admin/category">
          <i class="fa-solid fa-list"></i>
          <span>Category</span>
        </a>
      </li>
      <li>
        <a href="/admin/coupon">
          <i class="fa-solid fa-ticket"></i>
          <span>Coupons</span>
        </a>
      </li>
      <li>
        <a href="/admin/offer">
          <i class="fa-solid fa-percent"></i>
          <span>Offers</span>
        </a>
      </li>
      <li class="logout">
        <a href="/admin/logout">
          <i class="fas fa-sign-out-alt"></i>
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="main--content">
    <div class="header--wrapper">
      <img src="/images/logo.png" style="width: 140px; height: 40px;" alt="">
      <div class="user--info">
        <img src="/images/admin.png" alt="">
        <h4 style="font-weight: 900;margin-top: 10px;">
          <%= admins.username %>
        </h4>
      </div>
    </div>
    <div class="card--container">
      <h3 class="main--title">Revenue</h3>
      <div class="card--wrapper">


        <div class="payment--card light-red">
          <div class="card--header">
            <div class="amount">
              <span class="title">Total Revenue</span>
              <span class="amount--value">₹<%= totalRevenue %></span>
            </div>
            <i class="fas fa-dollar-sign icon"></i>
          </div>
          <span class="card--detail">**** **** ****</span>
        </div>

        <div class="payment--card light-purple">
          <div class="card--header">
            <div class="amount">
              <span class="title">Daily Revenue</span>
              <span class="amount--value">₹<%=dailyRevenue%></span>
            </div>
            <i class="fas fa-dollar-sign icon dark-purple"></i>
          </div>
          <span class="card--detail">**** **** ****</span>
        </div>

        <div class="payment--card light-green">
          <div class="card--header">
            <div class="amount">
              <span class="title">Monthly Revenue</span>
              <span class="amount--value">₹<%=monthlyRevenue%></span>
            </div>
            <i class="fas fa-dollar-sign icon dark-green"></i>
          </div>
          <span class="card--detail">**** **** ****</span>
        </div>

        <div class="payment--card light-blue">
          <div class="card--header">
            <div class="amount">
              <span class="title">Yearly Revenue</span>
              <span class="amount--value">₹<%=yearlyRevenue%></span>
            </div>
            <i class="fas fa-dollar-sign icon dark-blue"></i>
          </div>
          <span class="card--detail">**** **** ****</span>
        </div>
      </div>
    </div>



    <div class="tabular--wrapper">
      <h3 class="main--title">Sale Report</h3>

      <div class="container">
        <select id="interval" class="btn btn-outline-dark" onchange="choose(this.value)">
          <option value="Daily">Daily</option>
          <option value="Monthly">Monthy</option>
          <option value="Yearly">Yearly</option>
        </select>
      </div>

      <div style="overflow-x: auto;" class="table--container">
        <div style="width: 160vh;">
          <canvas width="100" style="display: flex;" id="myChart"></canvas>
          <div style="display: flex; justify-content: center;" class="gap-3 mt-4 ">
            <button id="dailyBtn" class="btn btn-outline-primary"
              onclick="window.location.href='/admin/custom-sale-report?data=Daily'">Daily</button>
            <button id="weeklyBtn" class="btn btn-outline-primary"
              onclick="window.location.href='/admin/custom-sale-report?data=Weekly'">Weekly</button>
            <button id="monthlyBtn" class="btn btn-outline-primary"
              onclick="window.location.href='/admin/custom-sale-report?data=Monthly'">Monthly</button>
            <button id="yearlyBtn" class="btn btn-outline-primary"
              onclick="window.location.href='/admin/custom-sale-report?data=Yearly'">Yearly</button>
            <a href="/admin/custom-sale-report" id="yearlyBtn" class="btn btn-outline-primary">Custom</a>
          </div>
        </div>
      </div>
    </div>


    <div class="tabular--wrapper">
      <h3 class="main--title" style="font-size: 20px;">Best Selling</h3>

      <div class="border rounded p-3 mb-3">
        <h4 class="main--title">Top 10 Products</h4>
        <div class="table-responsive">
          <table class="table">
            <% if(locals.top10 && locals.top10.top10Products && locals.top10.top10Products.length>0){ %>
              <thead>
                <tr style="text-align: start;">
                  <th>Name</th>
                  <th>Image</th>
                  <th>Sold</th>
                </tr>
              </thead>
              <tbody>
                <% for(let i=0;i<top10.top10Products.length;i++){ %>
                  <tr style=" text-align: start;">
                    <td style="font-weight: 900;">
                      <%= top10.top10Products[i].productName %>
                    </td>
                    <td style="border-radius: 10px;"><img width="100px" height="auto"
                        src="/images/productImages/<%= top10.top10Products[i].productImage[0] %>" alt="Product Image"
                        class="img-fluid" style="max-width: 100px;"></td>
                    <td style="font-weight: 900; font-size: 30px;">
                      <%= top10.top10Products[i].totalQuantity %>
                    </td>
                  </tr>
                  <% } %>
              </tbody>
              <% }else{ %>
                <h4 style="font-weight: 900;">Not Found</h4>
                <% } %>
          </table>
        </div>
      </div>
      <br>
      <div class="border rounded p-3">
        <h4 class="main--title">Top 10 Brands</h4>
        <div class="table-responsive">
          <table class="table">
            <% if(locals.top10 && locals.top10.top10Brands && locals.top10.top10Brands.length>0){ %>
              <thead>
                <tr style="text-align: start;">
                  <th>Name</th>
                  <th>Sold</th>
                </tr>
              </thead>
              <tbody>
                <% for(let i=0;i<top10.top10Brands.length;i++){ %>
                  <tr style="text-align: start;">
                    <td style="font-weight: 900;">
                      <%= top10.top10Brands[i].brandName %>
                    </td>
                    <td style="font-weight: 900; font-size: 30px;">
                      <%= top10.top10Brands[i].totalQuantity %>
                    </td>
                  </tr>
                  <% } %>
              </tbody>
              <% }else{ %>
                <h4 style="font-weight: 900;">Not Found</h4>
                <% } %>
          </table>
        </div>
      </div>
      <br>
      <div class="border rounded p-3 mb-3">
        <h4 class="main--title">Top 10 Categories</h4>
        <div class="table-responsive">
          <table class="table">
            <% if(locals.top10 && locals.top10.top10Categories && locals.top10.top10Categories.length>0){ %>
              <thead>
                <tr style="text-align: start;">
                  <th>Name</th>
                  <th>Sold</th>
                </tr>
              </thead>
              <tbody>
                <% for(let i=0;i<top10.top10Categories.length;i++){ %>
                  <tr style="text-align: start;">
                    <td style="font-weight: 900;">
                      <%= top10.top10Categories[i].categoryName %>
                    </td>
                    <td style="font-weight: 900; font-size: 30px;">
                      <%= top10.top10Categories[i].totalQuantity %>
                    </td>
                  </tr>
                  <% } %>
              </tbody>
              <% }else{ %>
                <h4 style="font-weight: 900;">Not Found</h4>
                <% } %>
          </table>
        </div>
      </div>


    </div>
  </div>



  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>



  <script>







    const ctx = document.getElementById('myChart');

    let myChart;

    async function choose(value) {
      const response = await axios.patch(`/admin/dashboard?type=${value}`);
      const data = response.data.data;

      myChart.data.datasets.forEach(dataset => {
        dataset.data = [];
      });
      myChart.data.labels = [];

      for (let i = 0; i < data.length; i++) {
        myChart.data.datasets[0].data.push(data[i].totalOrders)
        myChart.data.datasets[1].data.push(data[i].totalRevenue)
        myChart.data.datasets[2].data.push(data[i].cancelledOrReturnedOrders)
        myChart.data.labels.push(data[i].date)
        myChart.options.scales.x.title.text = response.data.type;
        myChart.update();
      }

    }

    choose('Daily');

    myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: [],
        datasets: [
          {
            label: 'Orders',
            backgroundColor: 'rgba(54, 162, 235, 0.6)',
            data: [],
            borderWidth: 1
          },
          {
            label: 'Revenue',
            backgroundColor: 'rgba(255, 99, 132, 0.6)',
            yAxisID: 'percentage',
            data: [],
            borderWidth: 1,
          },
          {
            label: 'Cancelled or Returned',
            backgroundColor: 'rgba(255, 0,0, 0.6)',
            data: [],
            borderWidth: 1,
          }
        ]
      },
      options: {
        scales: {
          x: {
            title: {
              display: true,
              text: 'Date',
            }
          },
          y: {
            beginAtZero: true,
            title: {
              display: true,
              text: 'Orders'
            }
          },
          percentage: {
            beginAtZero: true,
            title: {
              display: true,
              text: 'Revenue',
            },
            position: 'right'
          }
        },
        elements: {
          bar: {
            borderWidth: 2,
            borderColor: 'rgba(0,0,0,0.9)',
            position: 'right'
          }
        }
      }
    });

  </script>



  </script>



  <%- include('../layouts/footer.ejs') -%>