<%- include('../layouts/header.ejs') -%>

  <link rel="stylesheet" href="/styleSheet/admin.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


  <div class="sidebar">
    <div class="logo"></div>
    <ul class="menu">
      <li>
        <a href="/admin/dashboard">
          <i class="fa-solid fa-gauge-high"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-user"></i>
          <span>Profile</span>
        </a>
      </li>
      <li class="active">
        <a href="/admin/user-detials">
          <i class="fa-solid fa-users"></i>
          <span>Users</span>
        </a>
      </li>
      <li>
        <a href="/admin/products">
          <i class="fa-solid fa-cart-shopping"></i>
          <span>Products</span>
        </a>
      </li>
      <li>
        <a href="/admin/category">
          <i class="fa-solid fa-list"></i>
          <span>Category</span>
        </a>
      </li>
      <li class="logout">
        <a href="/admin/logout">
          <i class="fas fa-sign-out-alt"></i>
          <span>Logout</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="main--content">
    
    <div class="header--wrapper">
      <img src="/images/logo.png" style="width: 140px; height: 40px;" alt="">
      <div class="user--info">
        <img src="/images/admin.png" alt="">
        <h4><%= admins.username %></h4>
      </div>
    </div>

    <div class="tabular--wrapper">
      <div style="flex-wrap: wrap; justify-content: space-between; margin-bottom: 20px;" class="user--info">
        <div>
          <h3 style="font-size: 30px;" class="main--title">Customers</h3>
        </div>
        <div class="search--box">
          <i class="fa-solid fa-search"></i>
          <input type="text" placeholder="Search" />
        </div>
      </div>

      <div style="overflow-x: auto;" class="table--container">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Date Joined</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% if(users.length>0){%>
              <% for(let i=0; i< users.length;i++){ %>
                <tr>
                  <td>
                    <%= users[i].fullname %>
                  </td>
                  <td>
                    <%= users[i].email %>
                  </td>
                  <td>
                    <%= users[i].mobile %>
                  </td>
                  <td>
                    <%= users[i].createdDate.toString().split(' ').slice(0,5) %>
                  </td>
                  <td>
                    <button id="block<%= i %>" onclick="blockUser('<%= users[i]._id %>','<%= i %>')" class=" btn <%= users[i].isBlocked ?  'btn-outline-danger' :  'btn-outline-success' %>">
                      <%= users[i].isBlocked ? 'UnBlock' : 'Block' %>
                    </button>
                  </td>
                </tr>
                <% } %>
                  <% } else { %>
                    <tr>
                      <td colspan="7">User Not Found</td>
                    </tr>
                    <% } %>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="7">Total Customers: <%= users.length %>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>


  <script>
    function blockUser(id,i){

      const block = document.getElementById(`block${i}`);

      fetch(`/admin/block-user?id=${id}`,{
        method: "PUT",
        headers: {
          "Content-Type":"application/json",
        },
        body: JSON.stringify({id:id})
      }).then((res) => res.json())
        .then((data) => {
          if(data.isBlocked){
            block.classList.remove('btn-outline-danger');
            block.classList.add('btn-outline-success');
            block.innerHTML='Block'
          }else{
            block.classList.remove('btn-outline-success');
            block.classList.add('btn-outline-danger');
            block.innerHTML='Unblock'
          }
        })
        .catch((error) => console.log(error.message));
    };
  </script>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

  <script src="/javaScript/script.js"></script>


  <%- include('../layouts/footer.ejs') -%>