<%- include('../layouts/header.ejs') -%>


<header id="header">
  <a href="#"><img src="/images/logo.png" class="logo" alt=""></a>

  <div>
    <ul id="navbar">
      <li><a href="/home">Home</a></li>
      <li><a href="/shop">Shop</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="<%= locals.login ? '/profile' : '/login' %>" > <%= locals.login ? 'Profile' : 'Login' %></a></li>
      <li id="lg-bag"><a class="active" href="/cart"><i class="fa-solid fa-bag-shopping nav-cart"></i></a></li>
      <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
    </ul>
  </div>
  <div id="mobile">
    <a href="/cart"><i class="fa-solid fa-bag-shopping"></i></a>
    <i id="bar" class="fas fa-outdent"></i>
  </div>
</header>

<section id="page-header" class="about-header">
  <h2>#Cart</h2>
  <p>Add your coupon code & SAVE upto 70%!</p>
</section>

<section id="cart" class="section-p1">
  <table width="100%">
    <thead>
      <tr>
        <td>Remove</td>
        <td>Image</td>
        <td>Product Name</td>
        <td>Price</td>
        <td>Quatity</td>
        <td>Subtotal</td>
      </tr>
    </thead>
    <tbody>
      <% if(product.length>0){%>
      <% for(let i=0;i< product.length ; i++) { %>
      <tr id="row<%= i %>">
        <td><a onclick="removeProduct('<%= product[i]._id %>','<%= i %>')"><i class="far fa-times-circle"></i></a></td>
        <td><img src="images/productImages/<%= product[i].productId.image[0] %>" alt=""></td>
        <td><%= product[i].productId.name %></td>
        <td>$<%= product[i].productId.price %></td>
        <td><input type="number" id="inputTag<%= i %>" oninput="countOfQuantity('<%= product[i].productId._id %>','<%= product[i].productId.price %>','<%= i %>')" value="<%= product[i].quantity %>" min="1"></td>
        <td id="subTotal<%=i%>">$<%= product[i].productId.price * product[i].quantity %></td>
      </tr>
      <% } %>
      <% } else { %>
          <tr>
            <td colspan="7">Add Products To Cart</td>
          </tr>
        <% } %>
    </tbody>
  </table>
</section>

<section id="cart-add" class="section-p1">
  <div id="coupon">
    <h3>Apply Coupon</h3>
    <div>
      <input type="text" placeholder="Enter Your Coupon">
      <button class="normal">Apply</button>
    </div>
  </div>
  <div id="subtotal">
    <h3>Cart Totals</h3>
    <table>
      <tr>
        <td>Cart Subtotal</td>
        <td>$335</td>
      </tr>
      <tr>
        <td>Shipping</td>
        <td>Free</td>
      </tr>
      <tr>
        <td><strong>Total</strong></td>
        <td><strong>$335</strong></td>
      </tr>
    </table>
    <button class="normal">Proceed to checkout</button>
  </div>
</section>

<footer class="section-p1">
  <div class="col">
    <img class="logo" src="images/logo.png" alt="">
    <h4>Contact</h4>
    <p><strong>Address: </strong> 562 Wellington Road, Street 32, San Francisco</p>
    <p><Strong>Phone: </Strong> +01 2222 365 /(+91) 01 2345 6789</p>
    <p><Strong>Hours: </Strong> 10:00 - 18:00, Mon - Sat</p>
    <div class="follow">
      <h4>Follow us</h4>
      <div class="icon">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-pinterest-p"></i>
        <i class="fab fa-youtube"></i>
      </div>
    </div>
  </div>

  <div class="col">
    <h4>About</h4>
    <a href="#">About us</a>
    <a href="#">Delivery Information</a>
    <a href="#">Privacy Policy</a>
    <a href="#">Terms & Conditions</a>
    <a href="#">Contact Us</a>
  </div>

  <div class="col">
    <h4>My Account</h4>
    <a href="#">Sign In</a>
    <a href="#">View Cart</a>
    <a href="#">My Wishlist</a>
    <a href="#">Track My Order</a>
    <a href="#">Help</a>
  </div>

  <div class="col install">
    <h4>Install App</h4>
    <p>From App Store or Google Play</p>
    <div class="row">
      <img src="images/pay/app.jpg" alt="">
      <img src="images/pay/play.jpg" alt="">
    </div>
    <p>Secured Payment Gateways</p>
    <img src="images/pay/pay.png" alt="">
  </div>

  <div class="copyright">
    <p>© 2024, Tech2 etc - Ecommerce Website</p>
  </div>
</footer>

<script>


  function removeProduct(id,i){
    const row = document.getElementById(`row${i}`)
    fetch(`/remove-product?id=${id}`,{
      method: "PATCH",
      headers: {
        'Content-Type':"application/json",
      },
      body: JSON.stringify({id:id})
    }).then((res)=> res => res.json())
      .then((data) => {
        row.remove()
      })
      .catch((error)=> console.log(error.message));
  }

  function countOfQuantity(id,price,i){
    const input = document.getElementById(`inputTag${i}`);
    const subTotalRow = document.getElementById(`subTotal${i}`)
    fetch(`/cart-detials?id=${id}&quantity=${input.value}`,{
      method: "PATCH",
      headers: {
        "content-Type":"application/json"
      },
      body: JSON.stringify({
        id:id,
        quantity:input.value,
      })
    }).then((res)=>res.json())
      .then((data)=>{
        subTotalRow.innerHTML='$'+price*input.value;
      })
      .catch((error)=> console.log(error.message));
  }



  
</script>

<script src="/javaScript/script.js"></script>

<%- include('../layouts/footer.ejs') -%>