<%- include('../layouts/header.ejs') -%>

  <!-- <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> -->

  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>


  <style>
    * {
      margin: 0;
      padding: 0;
      list-style: none;
      text-decoration: none;
    }

    .sidebar {
      position: fixed;
      left: -250px;
      width: 250px;
      height: 100%;
      background-color: #042331;
      transition: all .5s ease;
    }

    .sidebar header {
      font-size: 22px;
      color: #fff;
      line-height: 70px;
      background: #063146;
      user-select: none;
    }

    .sidebar header h4 {
      margin-left: 40px;
      color: #fff;
    }

    .sidebar ul a {
      display: block;
      height: 100%;
      width: 100%;
      line-height: 65px;
      font-size: 15px;
      color: #fff;
      padding-left: 40px;
      box-sizing: border-box;
      border-top: 1px solid rgba(255, 255, 255, .1);
      border-bottom: 1px solid black;
      transition: .3s ease;
      cursor: pointer;
    }

    .sidebar ul li:hover a,
    .sidebar ul li .active {
      background: #1c2456;
    }

    .sidebar ul a i {
      margin-right: 16px;
    }

    #check {
      display: none;
    }

    label #btn,
    label #cancel {
      position: absolute;
      cursor: pointer;
      background: #042331;
      border-radius: 3px;
    }

    label #btn {
      position: fixed;
      left: 15px;
      top: 100px;
      font-size: 25px;
      color: #fff;
      padding: 6px 12px;
      transition: all .5s;
    }

    label #cancel {
      z-index: 1111;
      left: -195px;
      top: 100px;
      font-size: 30px;
      color: #0a5275;
      padding: 4px 9px;
      transition: all .5s ease;
    }

    #check:checked~.sidebar {
      left: 0;
    }

    #check:checked~label #btn {
      position: fixed;
      left: 100px;
      opacity: 0;
      pointer-events: none;
    }

    #check:checked~label #cancel {
      position: fixed;
      left: 200px;
    }

    #check:checked~.align {
      margin-left: 250px;
    }

    .align {
      transition: all .5s;
    }

    #user-detials {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: 40px 0;
      padding: 10px;
    }

    #user-detials .user-detials-container {
      padding: 30px;
      border: 1px solid #042331;
      border-radius: 10px;
      background: rgb(226, 240, 229);
    }

    .normal {
      font-size: 14px;
      font-weight: 600;
      padding: 10px 20px;
      color: #000;
      background-color: #fff;
      border-radius: 4px;
      cursor: pointer;
      border: none;
      outline: none;
      transition: 0.2s;
    }

    #p p {
      font-size: 10px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }

    th,
    td {
      border: 1px solid #ddd;
      padding: 9px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    #crusor {
      cursor: pointer;
    }

    .style {
      font-size: 14px;
      font-weight: 600;
      padding: 15px 30px;
      color: #fff;
      border-radius: 4px;
      cursor: pointer;
      border: none;
      outline: none;
      transition: 0.2s;
      background-color: #088178;
    }

    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 50%;
      max-height: 80%;
      overflow-y: auto;
      position: fixed;
      left: 345px;
      top: -16%;
    }

    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }

    .coupon-container {
      margin-bottom: 20px;
    }

    .coupon {
      background-color: #f9f9f9;
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 5px;
    }

    #couponPosition {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    #couponPosition input {
      width: 30vw;
    }


    @media (max-width:775px) {
      #couponPosition input {
        width: 250px;
        margin-bottom: 10px;
      }

    }

    @media (max-width:699px) {
      #user-detials .user-detials-container {
        width: 500px;
      }
    }

    /* Responsive table styles */
    @media screen and (max-width: 600px) {

      th,
      td {
        display: block;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px;
      }
    }

    @media (max-width:477px) {
      #couponPosition {
        flex-direction: column;
      }

      #coupon {
        width: 100%;
      }
    }

    @media (max-width:415px) {
      #user-detials .user-detials-container {
        width: 340px;
      }
    }
  </style>

  <header id="header">
    <a href="#"><img src="/images/logo.png" class="logo" alt=""></a>

    <div>
      <ul style="margin-bottom: 0px;" id="navbar">
        <li><a href="/home">Home</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="<%= locals.user ? '/profile' : '/login' %>">
            <%= locals.user ? 'Profile' : 'Login' %>
          </a></li>
        <li id="lg-bag"><a href="/wishlist"><i style="font-size: 20px;" class="fa-solid fa-heart"></i></a></li>
        <li id="lg-bag"><a href="/cart" class="active"><i class="fa-solid fa-bag-shopping nav-cart"></i></a></li>
        <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
      </ul>
    </div>
    <div id="mobile">
      <a href="cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
      <i id="bar" class="fas fa-outdent"></i>
    </div>
  </header>


  <section id="page-header" class="about-header">
    <h2>#Checkout</h2>
    <p>Purchese and get coupens!</p>
  </section>

  <% if( locals.message ){ %>
    <div style="color: red; text-align: center; margin-top: 15px; font-weight: 900;" id="hide">
      <%=message%>
    </div>
    <br>
    <% } %>

      <div id="couponModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <% if(locals.coupons && locals.coupons.length>0){ %>
            <h4>Coupons Available</h4>
            <br>
            <% for(let i=0;i<coupons.length;i++){ %>
              <% if(coupons[i].discountAmount<=(total < 500 ? total + 40 : total) && coupons[i].quantity>0 ){ %>
                <div class="coupon-container">
                  <div class="coupon">
                    <p style="font-weight: 700; color: #000;">Coupon Code : <span
                        style="font-weight: 900; color: #088178;" id="textToCopy<%= i %>">
                        <%= coupons[i].couponCode %>
                      </span></p>
                    <p style="font-weight: 700; color: #000;">Detials : <%= coupons[i].description %>
                    </p>
                  </div>
                  <button class="style" onclick="myFunction('<%= i %>')">Copy Code</button>
                </div>
                <% } %>
                  <% } %>
                    <% }else{ %>
                      <h5>No Coupon Available</h5>
                      <% } %>
        </div>
      </div>

      <section id="couponPosition">
        <div id="coupon">
          <h3>Apply Coupon</h3>
          <p style="display: none; font-weight: 800; font-size: 12px; color: red; margin: 0px; text-align: start; "
            id="errorMsg"></p>
          <div>
            <form>
              <input type="text" id="inputVal" <%= locals.couponApplied ? 'disabled' : '' %> value="<%= locals.couponApplied ? couponApplied.couponCode : '' %>" placeholder="Enter Your Coupon Code">
              <button class="normal" id="btn-coupon" onclick="CouponApply()"><%= locals.couponApplied ? 'Remove' : 'Apply' %></button>
            </form>
            <br>
            <a style="padding: 8px;" class="style" id="openModalBtn">Show Coupon</a>
          </div>
        </div>
      </section>

      <h4 style="text-align: center; margin-top: 20px;">
        <%= locals.address ? 'Choose your address' : 'Please Add Address' %>
      </h4>
      <form id="paymentForm" action="/checkout" method="post">

        <section id="user-detials">
          <% if(locals.address) {%>
            <% if(locals.address.address.length>0){ %>
              <% for(let i=0 ; i<address.address.length;i++){%>
                <div id="div<%= i %>" style="margin-bottom: 30px;" class="user-detials-container">
                  <input type="radio" name="selectedAddress" value="<%= address.address[i]._id  %>" id="radio<%= i %>"
                    required>
                  <label for="radio<%= i %>">
                    <div id="p">
                      <h3>
                        Address <%=i+1 %>
                      </h3>
                      <p>
                        <%= address.address[i].name %>
                      </p>
                      <p>
                        <%= address.address[i].email %>
                      </p>
                      <p>
                        <%= address.address[i].mobile %>
                      </p>
                      <p>
                        <%= address.address[i].address %>
                      </p>
                      <p>
                        <%= address.address[i].pincode %>
                      </p>
                      <p>
                        <%= address.address[i].city %>
                      </p>
                      <p>
                        <%= address.address[i].state %>
                      </p>
                    </div>
                  </label>
                </div>
                <% } %>
                  <% }else { %>
                    <form action="/checkout-add-address" method="post">
                      <div style="display: flex; justify-content: center; margin-top: 0px;">
                        <a style="  background-color: #088178; color: #fff;" id="alert"
                          onclick="window.location.href='/checkout-add-address'" class="normal">Add Address</a>
                      </div>
                    </form>
                    <% } %>
                      <% }else{ %>
                        <form action="/checkout-add-address" method="post">
                          <div style="display: flex; justify-content: center; margin-top: 0px;">
                            <a style="  background-color: #088178; color: #fff;" id="alert"
                              onclick="window.location.href='/checkout-add-address'" class="normal">Add Address</a>
                          </div>
                        </form>
                        <% } %>
                          </div>
        </section>

        <section id="user-detials">
          <div id="div" style="width: 500px; margin-bottom: 30px;" class="user-detials-container">
            <h4 style="border-bottom: 1px solid black; text-align: center;">Your Order</h4>
            <br><br>
            <table>
              <thead>
                <tr>
                  <th data-label="Product">Product</th>
                  <th data-label="Total">Price</th>
                </tr>
              </thead>
              <tbody>

                <% for(let i=0 ;i<product.products.length;i++){ %>
                  <% if(product.products[i].productId.quantity!==0){ %>
                    <tr>
                      <td data-label="Product">
                        <%= product.products[i].productId.name %><span style="font-weight: 500;"> - </span><span
                            style="font-weight: 500;">
                            <%= product.products[i].quantity%>
                          </span>
                      </td>
                      <td data-label="Total">
                        <% if(product.products[i].productId.offer && product.products[i].productId.categoryId.offer &&
                          product.products[i].productId.offer.startDate.setHours(0,0,0,0)<=locals.data && locals.data
                          <=product.products[i].productId.offer.endDate.setHours(23,59,59,999) &&
                          product.products[i].productId.categoryId.offer.startDate.setHours(0,0,0,0)<=locals.data &&
                          locals.data <=product.products[i].productId.categoryId.offer.endDate.setHours(23,59,59,999)){
                          %>

                          ₹<%= product.products[i].productId.offer.discountPercentage>=
                            product.products[i].productId.categoryId.offer.discountPercentage
                            ?
                            product.products[i].productId.price -
                            Math.round(product.products[i].productId.price*(Number(product.products[i].productId.offer.discountPercentage)/100))
                            :
                            product.products[i].productId.price -
                            Math.round(product.products[i].productId.price*(Number(product.products[i].productId.categoryId.offer.discountPercentage)/100))
                            %>

                            <% }else if(product.products[i].productId.offer){ %>
                              ₹<%= product.products[i].productId.offer &&
                                product.products[i].productId.offer.startDate.setHours(0,0,0,0)<=locals.data &&
                                locals.data <=product.products[i].productId.offer.endDate.setHours(23,59,59,999) ?
                                product.products[i].productId.price -
                                Math.round(product.products[i].productId.price*(Number(product.products[i].productId.offer.discountPercentage)/100))
                                : product.products[i].productId.price %>

                                <% }else if(product.products[i].productId.categoryId.offer){ %>
                                  ₹<%= product.products[i].productId.categoryId.offer &&
                                    product.products[i].productId.categoryId.offer.startDate.setHours(0,0,0,0)<=locals.data
                                    && locals.data
                                    <=product.products[i].productId.categoryId.offer.endDate.setHours(23,59,59,999) ?
                                    product.products[i].productId.price -
                                    Math.round(product.products[i].productId.price*(Number(product.products[i].productId.categoryId.offer.discountPercentage)/100))
                                    : product.products[i].productId.price %>

                                    <% }else{ %>
                                      ₹
                                      <%= product.products[i].productId.price %>

                                        <% } %>
                      </td>
                    </tr>
                    <% } %>
                      <% } %>
                        <tr>
                          <td data-label="Product">Subtotal</td>
                          <td data-label="Total">₹<%= total %>
                          </td>
                        </tr>
                        <tr>
                          <td data-label="Product">Shipping</td>
                          <td data-label="Total">
                            <%= total<500? '₹40' : 'Free' %>
                          </td>
                        </tr>
                        <% if(locals.couponApplied){ %>
                        <tr id="discount">
                          <td data-label="Product">Discount</td>
                          <td data-label="Total" id="discountAmount">-₹<%= couponApplied.discountAmount %>
                          </td>
                        </tr>
                        <% }else{ %>
                          <tr style="display: none;" id="discount">
                          <td data-label="Product">Discount</td>
                          <td data-label="Total" id="discountAmount">
                          </td>
                        </tr>
                          <% } %>
                        <tr>
                          <td style="font-weight: 700;" data-label="Product">Total</td>
                          <td style="font-weight: 700;" id="totalAmount" data-label="Total">₹<%= locals.couponApplied ? total<500?total+40 - couponApplied.discountAmount : total-couponApplied.discountAmount : total<500?total+40:total%>
                          </td>
                        </tr>
              </tbody>
            </table>
            <br>
            <h4 style="border-bottom: 1px solid black; text-align: center;">Payment Method</h4>

            <div style=" margin-top: 20px;">
              <% if(locals.total>1000) {%>
                <input type="radio" name="selectedPaymentMethod" value="COD" id="COD" disabled>
                <label id="CODlabel" for="COD">Cash On Delivery (Not Available)</label>
                <% }else{ %>
                  <input type="radio" name="selectedPaymentMethod" value="COD" id="COD">
                  <label id="CODlabel" for="COD">Cash On Delivery</label>
                  <% } %>
                    <br><br>
                    <input type="radio" name="selectedPaymentMethod" value="Online" id="Online">
                    <label for="Online">Online Payment</label>
                    <br><br>
                    <input type="radio" name="selectedPaymentMethod" value="Wallet" id="Wallet">
                    <label for="Wallet">Wallet</label>
            </div>
            <br>
            <button style="width: 100%; background-color: #088178; color: #fff;" type="submit" id="payButton"
              class="normal">Place Order</button>

          </div>

        </section>

      </form>


      <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
          <h4>Sign Up For Newsletters</h4>
          <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
        </div>
        <div class="form">
          <input type="text" placeholder="Your email address">
          <button class="normal">Sign Up</button>
        </div>
      </section>

      <footer class="section-p1">
        <div class="col">
          <img class="logo" src="images/logo.png" alt="">
          <h4>Contact</h4>
          <p><strong>Address: </strong> 562 Wellington Road, Street 32, San Francisco</p>
          <p><Strong>Phone: </Strong> +01 2222 365 /(+91) 01 2345 6789</p>
          <p><Strong>Hours: </Strong> 10:00 - 18:00, Mon - Sat</p>
          <div class="follow">
            <h4>Follow us</h4>
            <div class="icon">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-pinterest-p"></i>
              <i class="fab fa-youtube"></i>
            </div>
          </div>
        </div>

        <div class="col">
          <h4>About</h4>
          <a href="#">About us</a>
          <a href="#">Delivery Information</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Terms & Conditions</a>
          <a href="#">Contact Us</a>
        </div>

        <div class="col">
          <h4>My Account</h4>
          <a href="#">Sign In</a>
          <a href="#">View Cart</a>
          <a href="#">My Wishlist</a>
          <a href="#">Track My Order</a>
          <a href="#">Help</a>
        </div>

        <div class="col install">
          <h4>Install App</h4>
          <p>From App Store or Google Play</p>
          <div class="row">
            <img src="images/pay/app.jpg" alt="">
            <img src="images/pay/play.jpg" alt="">
          </div>
          <p>Secured Payment Gateways</p>
          <img src="images/pay/pay.png" alt="">
        </div>

        <div class="copyright">
          <p>© 2024, Tech2 etc - Ecommerce Website</p>
        </div>
      </footer>

      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

      <script>


        async function CouponApply() {
          event.preventDefault();
          const errorMsg = document.getElementById('errorMsg');
          const inputVal = document.getElementById('inputVal').value;
          const totalAmount = document.getElementById('totalAmount');
          const inputVal1 = document.getElementById('inputVal');
          const btn = document.getElementById('btn-coupon');
          if (inputVal === '') {
            errorMsg.style.display = 'block'
            errorMsg.innerHTML = 'Enter a Code'
          } else {
            errorMsg.style.display = 'none'
            discount.style.display = 'none';
            const responce = await axios.post('/coupon', { inputVal });
            if (responce.data.remove) {
              Swal.fire({
                title: "Are you sure?",
                text: "Do you want to remove Coupon",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
              }).then((result) => {
                if (result.isConfirmed) {
                  Swal.fire({
                    title: "Removed!",
                    text: "Your Coupon has been removed.",
                    icon: "success",
                    timer: 800,
                    showConfirmButton: false
                  }).then( async () => {
                    const responce1 = await axios.delete('/destory-coupon');
                    if(responce1.data.status){
                      console.log(responce1.data.total)
                      totalAmount.innerHTML = '₹' + responce1.data.total;
                      inputVal1.removeAttribute('disabled');
                      inputVal1.value=''
                      btn.innerHTML='Apply'
                    }
                  })
                }
              });
            }
            if (responce.data.status) {
              errorMsg.style.display = 'block';
              errorMsg.innerHTML = responce.data.status;
              discount.style.display = 'none';
            } else if (responce.data.amount) {
              errorMsg.style.display = 'block';
              errorMsg.innerText = 'Coupon Applied';
              errorMsg.style.color = 'green';
              inputVal1.setAttribute('disabled', 'disabled');
              Swal.fire({
                icon: 'success',
                title: 'Coupon Applied!',
                showConfirmButton: false,
                timer: 800,
              })
              const discount = document.getElementById('discount');
              const discountAmount = document.getElementById('discountAmount');
              const COD = document.getElementById('COD');
              const CODlabel = document.getElementById('CODlabel');
              const t = totalAmount.innerHTML.replace('₹', '')
              discount.style.display = 'table-row';
              discountAmount.textContent = '-₹' + responce.data.amount;
              totalAmount.innerHTML = '₹' + (Number(t) - responce.data.amount);
              btn.innerHTML = 'Remove'
              if (Number(t) - responce.data.amount > 1000) {
                COD.setAttribute('disabled');
                CODlabel.innerHTML = 'Cash On Delivery (Not Available)';
              } else {
                COD.removeAttribute('disabled');
                CODlabel.innerHTML = 'Cash On Delivery';
              }
            }
          }
        }


        function myFunction(index) {

          const element = document.getElementById(`textToCopy${index}`);
          const modal = document.getElementById('couponModal');


          var range = document.createRange();
          range.selectNode(element);


          window.getSelection().removeAllRanges();
          window.getSelection().addRange(range);

          document.execCommand("copy");


          Swal.fire({
            icon: 'success',
            title: 'Code Copied!',
            showConfirmButton: false,
            timer: 800,
          }).then((result) => {
            modal.style.display = 'none'
          })
        }

        // modal for available coupon
        document.addEventListener('DOMContentLoaded', function () {
          const openModalBtn = document.getElementById('openModalBtn');
          const modal = document.getElementById('couponModal');
          const closeModalBtn = modal.querySelector('.close');

          openModalBtn.addEventListener('click', function () {
            modal.style.display = 'block';
          });

          closeModalBtn.addEventListener('click', function () {
            modal.style.display = 'none';
          });

          window.addEventListener('click', function (event) {
            if (event.target === modal) {
              modal.style.display = 'none';
            }
          });
        });
        // modal for available coupon

        document.getElementById('paymentForm').onsubmit = function (event) {
          const selectedPaymentMethod = document.querySelector('input[name="selectedPaymentMethod"]:checked').value;
          const selectedAddress = document.querySelector('input[name=selectedAddress]:checked').value;
          if (selectedPaymentMethod === 'COD' || selectedPaymentMethod === 'Wallet') {
            return true;
          } else {
            event.preventDefault();

            if (selectedPaymentMethod === 'Online') {
              fetch('/verify-razorpay', {
                method: 'POST',
                headers: {
                  "Content-Type": "application/json"
                },
              })
                .then((res) => res.json())
                .then((data) => {
                  const options = {
                    key: data.key,
                    amount: data.amount,
                    currency: 'INR',
                    name: 'Cara Online Shopping Site',
                    description: 'Purchase Description add letter',
                    order_id: data.orderId,
                    handler: function (responce) {
                      fetch('/razorpay-success', {
                        method: "PATCH",
                        headers: {
                          "Content-Type": "application/json"
                        },
                        body: JSON.stringify({ id: selectedAddress, transactionId: responce.razorpay_order_id })
                      }).then((res) => res.json())
                        .then((data) => {
                          if (data.status) {
                            window.location.href = '/order-confirm/#page-header';
                          }
                        })
                    },
                    prefill: {
                      name: data.cusName,
                      email: data.cusEmail,
                      contact: data.cusContact,
                    },
                  };
                  const razorpay = new Razorpay(options);
                  razorpay.on('payment.failed',async function (response) {
                    const responce = await axios.post('/payment-failed',{selectedAddress});
                    const data=  responce.data.status
                    if(data){
                      window.location.href = '/order-confirm?falied=true/#page-header';
                    }
                  })
                  razorpay.open();
                })
            }
          }
        }

      </script>



      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

      <script src="/javaScript/script.js"></script>

      <%- include('../layouts/footer.ejs') -%>