<%- include(__dirname + '/../layouts/header.ejs') -%>

  <style>
    .wishlistCheck {
      position: absolute;
      right: 12px;
      background-color: #cce7d0;
      padding: 8px;
      border-radius: 40px;
      transition: 0.3s ease-in-out
    }

    .wishlistCheck:hover {
      color: #fff;
      background-color: #088178;
    }

    #offerPecen {
      position: absolute;
      top: 12px;
      left: 12px;
      margin: 0px;
      color: #388e3c;
      font-weight: 900;
      font-size: 12px;
    }
  </style>

  <header id="header">
    <a href="#"><img src="/images/logo.png" class="logo" alt=""></a>

    <div>
      <ul id="navbar">
        <li><a class="active" href="/home">Home</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="<%= locals.login ? '/profile' : '/login' %>">
            <%= locals.login ? 'Profile' : 'Login' %>
          </a></li>
        <li id="lg-bag"><a href="/wishlist"><i style="font-size: 20px;" class="fa-solid fa-heart"></i></a></li>
        <li id="lg-bag"><a href="/cart"><i style="font-size: 20px;" class="fa-solid fa-bag-shopping nav-cart"></i></a>
        </li>
        <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
      </ul>
    </div>
    <div id="mobile">
      <a href="/wishlist"><i class="fa-solid fa-heart"></i></a>
      <a href="/cart"><i class="fa-solid fa-bag-shopping"></i></a>
      <i id="bar" class="fas fa-outdent"></i>
    </div>
  </header>

  <section id="hero">
    <h4>Trade-in-offer</h4>
    <h2>Super value deals</h2>
    <h1>On all products</h1>
    <p>Save more with coupons & up to 70% off!</p>
    <button onclick="window.location.href='/shop'">Shop Now</button>
  </section>

  <section id="feature" class="section-p1">
    <div class="fe-box">
      <img src="images/features/f1.png" alt="">
      <h6>Free Shipping</h6>
    </div>
    <div class="fe-box">
      <img src="images/features/f2.png" alt="">
      <h6>Online Order</h6>
    </div>
    <div class="fe-box">
      <img src="images/features/f3.png" alt="">
      <h6>Save Money</h6>
    </div>
    <div class="fe-box">
      <img src="images/features/f4.png" alt="">
      <h6>Promotions</h6>
    </div>
    <div class="fe-box">
      <img src="images/features/f5.png" alt="">
      <h6>Happy Sell</h6>
    </div>
    <div class="fe-box">
      <img src="images/features/f6.png" alt="">
      <h6>F24/7 Support</h6>
    </div>
  </section>

  <section id="product1" class="section-p1">
    <h2>Featured Products</h2>
    <p>Summer Collection New Morden Design</p>
    <div class="pro-container">
      <% if(product.length>0){%>
        <% for(let i=0;i< product.length ;i++){ %>
          <div class="pro" onclick="window.location.href='/sproduct?id=<%= product[i]._id %>'">
            <% if(product[i].offer && product[i].categoryId.offer &&
              product[i].offer.startDate.setHours(0,0,0,0)<=locals.data && locals.data
              <=product[i].offer.endDate.setHours(23,59,59,999) &&
              product[i].categoryId.offer.startDate.setHours(0,0,0,0)<=locals.data && locals.data
              <=product[i].categoryId.offer.endDate.setHours(23,59,59,999)){ %>
              <p id="offerPecen">
                <%= product[i].offer.discountPercentage>= product[i].categoryId.offer.discountPercentage ?
                  product[i].offer.discountPercentage+'% Off' : product[i].categoryId.offer.discountPercentage+'% Off'
                  %>
              </p>
              <% }else if(product[i].offer){ %>
                <p id="offerPecen">
                  <%= product[i].offer && product[i].offer.startDate.setHours(0,0,0,0)<=locals.data && locals.data
                    <=product[i].offer.endDate.setHours(23,59,59,999) ? product[i].offer.discountPercentage+'% Off' : ''
                    %>
                </p>
                <% }else if(product[i].categoryId.offer){ %>
                  <p id="offerPecen">
                    <%= product[i].categoryId.offer &&
                      product[i].categoryId.offer.startDate.setHours(0,0,0,0)<=locals.data && locals.data
                      <=product[i].categoryId.offer.endDate.setHours(23,59,59,999) ?
                      product[i].categoryId.offer.discountPercentage+'% Off' : '' %>
                  </p>
                  <% } %>
                    <% if(locals.existWishlist && existWishlist.length>0){ %>       
                      <% for(let j=0;j<existWishlist.length;j++){ %>
                        <% if(product[i]._id.toString()===existWishlist[j].productId.toString()){ %> 
                          <a onclick="addToWishlist('<%= product[i]._id %>','Featured<%= i %>')">
                              <i id="wishlistFeatured<%= i %>" style="color: red;" class="fa-solid fa-heart wishlistCheck"></i>
                            </a>
                               <% break %>
                          <% }else{ %>
                            <a onclick="addToWishlist('<%= product[i]._id %>','Featured<%= i %>')">
                              <i id="wishlistFeatured<%= i %>" style="color: #088178" class="fa-solid fa-heart wishlistCheck"></i>
                            </a>
                            <% } %>
                              <% } %>
                                <% }else{ %>
                                  <a onclick="addToWishlist('<%= product[i]._id %>','Featured<%= i %>')">
                              <i id="wishlistFeatured<%= i %>" style="color: #088178" class="fa-solid fa-heart wishlistCheck"></i>
                            </a>
                                  <% } %>
                                    <img style="width: 224px; height: 299px;"
                                      src="images/productImages/<%= product[i].image[0] %>" alt="">
                                    <div class="des">
                                      <span>
                                        <%= product[i].brand %>
                                      </span>
                                      <h5>
                                        <%= product[i].name %>
                                      </h5>
                                      <div class="star">
                                        <% for(let j=0;j< product[i].rating; j++){ %>
                                          <i class="ri-star-fill"></i>
                                          <% } %>
                                      </div>
                                      <div style="display: flex; flex-direction: row;">
                                        <% if(product[i].offer &&
                                          product[i].offer.startDate.setHours(0,0,0,0)<=locals.data && locals.data
                                          <=product[i].offer.endDate.setHours(23,59,59,999)||product[i].categoryId.offer
                                          && product[i].categoryId.offer.startDate.setHours(0,0,0,0)<=locals.data &&
                                          locals.data <=product[i].categoryId.offer.endDate.setHours(23,59,59,999) ){ %>
                                          <h4 style="color: #99a6be; text-decoration: line-through;">
                                            ₹<%= product[i].price %>
                                          </h4>
                                          <% } %>
                                            &nbsp;&nbsp;
                                            <h4>
                                              <% if(product[i].offer && product[i].categoryId.offer &&
                                                product[i].offer.startDate.setHours(0,0,0,0)<=locals.data && locals.data
                                                <=product[i].offer.endDate.setHours(23,59,59,999) &&
                                                product[i].categoryId.offer.startDate.setHours(0,0,0,0)<=locals.data &&
                                                locals.data
                                                <=product[i].categoryId.offer.endDate.setHours(23,59,59,999)){ %>

                                                ₹<%= product[i].offer.discountPercentage>=
                                                  product[i].categoryId.offer.discountPercentage
                                                  ?
                                                  product[i].price -
                                                  Math.round(product[i].price*(Number(product[i].offer.discountPercentage)/100))
                                                  :
                                                  product[i].price -
                                                  Math.round(product[i].price*(Number(product[i].categoryId.offer.discountPercentage)/100))
                                                  %>

                                                  <% }else if(product[i].offer){ %>
                                                    ₹<%= product[i].offer &&
                                                      product[i].offer.startDate.setHours(0,0,0,0)<=locals.data &&
                                                      locals.data <=product[i].offer.endDate.setHours(23,59,59,999) ?
                                                      product[i].price -
                                                      Math.round(product[i].price*(Number(product[i].offer.discountPercentage)/100))
                                                      : product[i].price %>
                                                      <% }else if(product[i].categoryId.offer){ %>
                                                        ₹<%= product[i].categoryId.offer &&
                                                          product[i].categoryId.offer.startDate.setHours(0,0,0,0)<=locals.data
                                                          && locals.data
                                                          <=product[i].categoryId.offer.endDate.setHours(23,59,59,999) ?
                                                          product[i].price -
                                                          Math.round(product[i].price*(Number(product[i].categoryId.offer.discountPercentage)/100))
                                                          : product[i].price %>
                                                          <% }else{ %>
                                                            ₹<%=product[i].price %>
                                                              <% } %>
                                            </h4>
                                      </div>
                                    </div>
                                    <a onclick="addToCart('<%= product[i]._id %>','<%= locals.login %>')"><i
                                        class="ri-shopping-cart-2-line cart"></i></a>
          </div>
          <% } %>
            <% } else { %>
              <h2>Products Not Found</h2>
              <% } %>
    </div>
  </section>

  <section id="banner" class="section-m1">
    <h4>Repair Services</h4>
    <h2>Up to <span>70% off</span> - All t-Shirts & Accessories</h2>
    <button class="normal">Explore More</button>
  </section>

  <section id="product1" class="section-p1">
    <h2>New Arrivals</h2>
    <p>Summer Collection New Morden Design</p>
    <div class="pro-container">
      <% if(latestProducts.length>0){%>
        <% for(let i=0;i< latestProducts.length ;i++){ %>
          <div class="pro" onclick="window.location.href='/sproduct?id=<%= latestProducts[i]._id %>'">
            <% if(latestProducts[i].offer && latestProducts[i].categoryId.offer &&
              latestProducts[i].offer.startDate.setHours(0,0,0,0)<=locals.data && locals.data
              <=latestProducts[i].offer.endDate.setHours(23,59,59,999) &&
              latestProducts[i].categoryId.offer.startDate.setHours(0,0,0,0)<=locals.data && locals.data
              <=latestProducts[i].categoryId.offer.endDate.setHours(23,59,59,999)){ %>
              <p id="offerPecen">
                <%= latestProducts[i].offer.discountPercentage>= latestProducts[i].categoryId.offer.discountPercentage ?
                  latestProducts[i].offer.discountPercentage+'% Off' :
                  latestProducts[i].categoryId.offer.discountPercentage+'% Off'
                  %>
              </p>
              <% }else if(latestProducts[i].offer){ %>
                <p id="offerPecen">
                  <%= latestProducts[i].offer && latestProducts[i].offer.startDate.setHours(0,0,0,0)<=locals.data &&
                    locals.data <=latestProducts[i].offer.endDate.setHours(23,59,59,999) ?
                    latestProducts[i].offer.discountPercentage+'% Off' : '' %>
                </p>
                <% }else if(latestProducts[i].categoryId.offer){ %>
                  <p id="offerPecen">
                    <%= latestProducts[i].categoryId.offer &&
                      latestProducts[i].categoryId.offer.startDate.setHours(0,0,0,0)<=locals.data && locals.data
                      <=latestProducts[i].categoryId.offer.endDate.setHours(23,59,59,999) ?
                      latestProducts[i].categoryId.offer.discountPercentage+'% Off' : '' %>
                  </p>
                  <% } %>
                  <% if(locals.existWishlist && existWishlist.length>0){ %>       
                      <% for(let j=0;j<existWishlist.length;j++){ %>
                        <% if(latestProducts[i]._id.toString()===existWishlist[j].productId.toString()){ %> 
                          <a onclick="addToWishlist('<%= latestProducts[i]._id %>','Letest<%= i %>')">
                              <i id="wishlistLetest<%= i %>" style="color: red;" class="fa-solid fa-heart wishlistCheck"></i>
                            </a>
                               <% break %>
                          <% }else{ %>
                            <a onclick="addToWishlist('<%= latestProducts[i]._id %>','Letest<%= i %>')">
                              <i id="wishlistLetest<%= i %>" style="color: #088178" class="fa-solid fa-heart wishlistCheck"></i>
                            </a>
                            <% } %>
                              <% } %>
                                <% }else{ %>
                                  <a onclick="addToWishlist('<%= latestProducts[i]._id %>','Letest<%= i %>')">
                              <i id="wishlistLetest<%= i %>" style="color: #088178" class="fa-solid fa-heart wishlistCheck"></i>
                            </a>
                                  <% } %>
                    <img style="width: 224px; height: 299px;"
                      src="images/productImages/<%= latestProducts[i].image[0] %>" alt="">
                    <div class="des">
                      <span>
                        <%= latestProducts[i].brand %>
                      </span>
                      <h5>
                        <%= latestProducts[i].name %>
                      </h5>
                      <div class="star">
                        <% for(let j=0;j< latestProducts[i].rating; j++){ %>
                          <i class="ri-star-fill"></i>
                          <% } %>
                      </div>
                      <div style="display: flex; flex-direction: row;">
                        <% if(latestProducts[i].offer &&
                          latestProducts[i].offer.startDate.setHours(0,0,0,0)<=locals.data && locals.data
                          <=latestProducts[i].offer.endDate.setHours(23,59,59,999)||latestProducts[i].categoryId.offer
                          && latestProducts[i].categoryId.offer.startDate.setHours(0,0,0,0)<=locals.data && locals.data
                          <=latestProducts[i].categoryId.offer.endDate.setHours(23,59,59,999) ){ %>
                          <h4 style="color: #99a6be; text-decoration: line-through;">
                            ₹<%= latestProducts[i].price %>
                          </h4>
                          <% } %>
                            &nbsp;&nbsp;
                            <h4>
                              <% if(latestProducts[i].offer && latestProducts[i].categoryId.offer &&
                                latestProducts[i].offer.startDate.setHours(0,0,0,0)<=locals.data && locals.data
                                <=latestProducts[i].offer.endDate.setHours(23,59,59,999) &&
                                latestProducts[i].categoryId.offer.startDate.setHours(0,0,0,0)<=locals.data &&
                                locals.data <=latestProducts[i].categoryId.offer.endDate.setHours(23,59,59,999)){ %>

                                ₹<%= latestProducts[i].offer.discountPercentage>=
                                  latestProducts[i].categoryId.offer.discountPercentage
                                  ?
                                  latestProducts[i].price -
                                  Math.round(latestProducts[i].price*(Number(latestProducts[i].offer.discountPercentage)/100))
                                  :
                                  latestProducts[i].price -
                                  Math.round(latestProducts[i].price*(Number(latestProducts[i].categoryId.offer.discountPercentage)/100))
                                  %>

                                  <% }else if(latestProducts[i].offer){ %>
                                    ₹<%= latestProducts[i].offer &&
                                      latestProducts[i].offer.startDate.setHours(0,0,0,0)<=locals.data && locals.data
                                      <=latestProducts[i].offer.endDate.setHours(23,59,59,999) ? latestProducts[i].price
                                      -
                                      Math.round(latestProducts[i].price*(Number(latestProducts[i].offer.discountPercentage)/100))
                                      : latestProducts[i].price %>
                                      <% }else if(latestProducts[i].categoryId.offer){ %>
                                        ₹<%= latestProducts[i].categoryId.offer &&
                                          latestProducts[i].categoryId.offer.startDate.setHours(0,0,0,0)<=locals.data &&
                                          locals.data
                                          <=latestProducts[i].categoryId.offer.endDate.setHours(23,59,59,999) ?
                                          latestProducts[i].price -
                                          Math.round(latestProducts[i].price*(Number(latestProducts[i].categoryId.offer.discountPercentage)/100))
                                          : latestProducts[i].price %>
                                          <% }else{ %>
                                            ₹<%= latestProducts[i].price %>
                                              <% } %>
                            </h4>
                      </div>
                    </div>
                    <a onclick="addToCart('<%= latestProducts[i]._id %>','<%= locals.login %>')"><i
                        class="ri-shopping-cart-2-line cart"></i></a>
          </div>
          <% } %>
            <% } else { %>
              <h2>Products Not Found</h2>
              <% } %>
    </div>
  </section>

  <section id="sm-banner" class="section-p1">
    <div class="banner-box">
      <h4>crazy deals</h4>
      <h2>buy 1 get 1 free</h2>
      <span>The best classic dress is on sale at cara</span>
      <button class="white">Learn More</button>
    </div>
    <div class="banner-box banner-box2">
      <h4>spring/summer</h4>
      <h2>upcomming season</h2>
      <span>The best classic dress is on sale at cara</span>
      <button class="white">Collection</button>
    </div>
  </section>

  <section id="banner3">
    <div class="banner-box">
      <h2>SEASONAL SALE</h2>
      <h3>Winter Collection -50% OFF</h3>
    </div>
    <div class="banner-box banner-box2">
      <h2>NEW FOOTWEAR COLLECTION</h2>
      <h3>Spring / Summer 2024</h3>
    </div>
    <div class="banner-box banner-box3">
      <h2>T-SHIRTS</h2>
      <h3>New Trendy Prints</h3>
    </div>
  </section>

  <section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
      <h4>Sign Up For Newsletters</h4>
      <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
    </div>
    <div class="form">
      <input type="text" placeholder="Your email address">
      <button class="normal">Sign Up</button>
    </div>
  </section>

  <footer class="section-p1">
    <div class="col">
      <img class="logo" src="images/logo.png" alt="">
      <h4>Contact</h4>
      <p><strong>Address: </strong> 562 Wellington Road, Street 32, San Francisco</p>
      <p><Strong>Phone: </Strong> +01 2222 365 /(+91) 01 2345 6789</p>
      <p><Strong>Hours: </Strong> 10:00 - 18:00, Mon - Sat</p>
      <div class="follow">
        <h4>Follow us</h4>
        <div class="icon">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-pinterest-p"></i>
          <i class="fab fa-youtube"></i>
        </div>
      </div>
    </div>

    <div class="col">
      <h4>About</h4>
      <a href="#">About us</a>
      <a href="#">Delivery Information</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Terms & Conditions</a>
      <a href="#">Contact Us</a>
    </div>

    <div class="col">
      <h4>My Account</h4>
      <a href="#">Sign In</a>
      <a href="#">View Cart</a>
      <a href="#">My Wishlist</a>
      <a href="#">Track My Order</a>
      <a href="#">Help</a>
    </div>

    <div class="col install">
      <h4>Install App</h4>
      <p>From App Store or Google Play</p>
      <div class="row">
        <img src="images/pay/app.jpg" alt="">
        <img src="images/pay/play.jpg" alt="">
      </div>
      <p>Secured Payment Gateways</p>
      <img src="images/pay/pay.png" alt="">
    </div>

    <div class="copyright">
      <p>© 2024, Tech2 etc - Ecommerce Website</p>
    </div>
  </footer>


  <script>
    const query = new URLSearchParams(window.location.search);

    const status = query.get('status');

    if (status === 'true') {
      localStorage.removeItem('countdown')
    };

  </script>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@latest"></script>


  <script src="/javaScript/script.js"></script>

  <%- include(__dirname + '/../layouts/footer.ejs') -%>
