<%- include('../layouts/header.ejs') -%>

  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>


  <style>
    * {
      margin: 0;
      padding: 0;
      list-style: none;
      text-decoration: none;
    }

    .sidebar {
      position: fixed;
      left: -250px;
      width: 250px;
      height: 100%;
      background-color: #042331;
      transition: all .5s ease;
      overflow: scroll;
    }

    .sidebar::-webkit-scrollbar {
      width: 0;
    }

    .sidebar header {
      font-size: 22px;
      color: #fff;
      line-height: 70px;
      background: #063146;
      user-select: none;
    }

    .sidebar header h4 {
      margin-left: 40px;
      color: #fff;
    }

    .sidebar ul a {
      display: block;
      height: 100%;
      width: 100%;
      line-height: 65px;
      font-size: 15px;
      color: #fff;
      padding-left: 40px;
      box-sizing: border-box;
      border-top: 1px solid rgba(255, 255, 255, .1);
      border-bottom: 1px solid black;
      transition: .3s ease;
      cursor: pointer;
    }

    .sidebar ul li:hover a,
    .sidebar ul li .active {
      background: #1c2456;
    }

    .sidebar ul a i {
      margin-right: 16px;
    }

    #check {
      display: none;
    }

    label #btn,
    label #cancel {
      position: absolute;
      cursor: pointer;
      background: #042331;
      border-radius: 3px;
    }

    label #btn {
      position: fixed;
      left: 15px;
      top: 100px;
      font-size: 25px;
      color: #fff;
      padding: 6px 12px;
      transition: all .5s;
    }

    label #cancel {
      z-index: 1111;
      left: -195px;
      top: 100px;
      font-size: 30px;
      color: #0a5275;
      padding: 4px 9px;
      transition: all .5s ease;
    }

    #check:checked~.sidebar {
      left: 0;
    }

    #check:checked~label #btn {
      position: fixed;
      left: 100px;
      opacity: 0;
      pointer-events: none;
    }

    #check:checked~label #cancel {
      position: fixed;
      left: 200px;
    }

    #check:checked~.align {
      margin-left: 250px;
    }

    .align {
      transition: all .5s;
    }

    #user-detials {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 40px 0;
      padding: 10px;
    }

    #user-detials #user-detials-container {
      padding: 70px;
      border: 1px solid #042331;
      border-radius: 10px;
      background: rgb(226, 240, 229);
    }

    .container {
      max-width: 600px;
      margin: 50px auto;
      background-color: #f7f4f9;
      border-radius: 8px;
      padding: 50px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
      padding-top: 5px;
    }

    .wallet {
      text-align: center;
      padding: 20px;
      background-color: #f9f9f9;
      border-radius: 8px;
      margin-bottom: 20px;
    }

    .wallet h2 {
      margin-top: 0;
    }

    .wallet p {
      font-size: 25px;
      color: #000;
      font-weight: 600;
    }

    .wallet p span {
      font-weight: 900;
    }

    .add-money-btn {
      display: block;
      width: calc(100% - 22px);
      padding: 10px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      margin-top: 10px;
    }

    input[type="number"] {
      width: calc(100% - 22px);
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-textfield-decoration-container {
      display: none;
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield;
      appearance: textfield;
    }

    .refer-div {
      text-align: center;
      margin-top: 50px;
    }

    .btn {
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
    }

    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
      background-color: #fefefe;
      margin: 10% auto;
      padding: 20px;
      border-radius: 10px;
      width: 80%;
      max-width: 700px;
      position: relative;
    }

    .close {
      color: #aaa;
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 24px;
      text-decoration: none;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }


    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 50%;
      max-height: 80%;
      overflow-y: auto;
      position: fixed;
      left: 320px;
      top: -17%;
    }

    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }

    .coupon-container {
      margin-bottom: 20px;
    }

    .coupon {
      background-color: #f9f9f9;
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 5px;
    }

    .modal-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .coupon-container {
      width: 100%;
    }

    .coupon p {
      display: inline-block;
      margin: 0;
      margin-right: 20px;
      /* Adjust spacing between fields */
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    table,
    th,
    td {
      border: 1px solid #ddd;
    }

    th,
    td {
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }


    /* Responsive styling */
    @media only screen and (max-width: 600px) {
      .modal-content {
        width: 90%;
        max-width: 300px;
        margin: 15% auto;
      }
    }

    /* Show modal when its ID is targeted */
    .modal:target {
      display: block;
    }


    @media only screen and (max-width: 768px) {
      .container {
        max-width: 90%;
        margin: 20px auto;
      }

      .refer-div {
        margin: 10px;
        padding: 10px;
      }

      .modal-content {
        width: 90%;
      }
    }

    @media (max-width:699px) {
      #user-detials #user-detials-container {
        width: 500px;
      }
    }

    @media only screen and (max-width: 480px) {
      .add-money-btn {
        font-size: 14px;
      }
    }

    @media (max-width:415px) {
      #user-detials #user-detials-container {
        width: 340px;
      }
    }
  </style>

  <header id="header">
    <a href="#"><img src="/images/logo.png" class="logo" alt=""></a>

    <div>
      <ul style="margin-bottom: 0px;" id="navbar">
        <li><a href="/home">Home</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/about">About</a></li>
        <li><a class="active" href="<%= locals.user ? '/profile' : '/login' %>">
            <%= locals.user ? 'Profile' : 'Login' %>
          </a></li>
        <li id="lg-bag"><a href="/wishlist"><i style="font-size: 20px;" class="fa-solid fa-heart"></i></a></li>
        <li id="lg-bag"><a href="/cart"><i class="fa-solid fa-bag-shopping nav-cart"></i></a></li>
        <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
      </ul>
    </div>
    <div id="mobile">
      <a href="cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
      <i id="bar" class="fas fa-outdent"></i>
    </div>
  </header>

  <input type="checkbox" id="check">
  <label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
  </label>
  <div class="sidebar">
    <header>
      <h4>My Account</h4>
    </header>
    <ul>
      <li><a href="/profile"><i class="fas fa-user"></i>Profile</a></li>
      <li><a href="/refer" class="active"><i class="fa-solid fa-dollar-sign"></i>Refer & Earn</a></li>
      <li><a href="/Wallet"><i class="fa-solid fa-wallet"></i>Wallet</a></li>
      <li><a href="/order"><i class="fa-solid fa-check"></i>Order</a></li>
      <li><a href="/address"><i class="fa-solid fa-location-dot"></i>Address</a></li>
      <li><a href="/forget"><i class="fa-solid fa-lock"></i></i>Change Password</a></li>
      <li><a id="logout"><i class="fas fa-sign-out"></i>Logout</a></li>
    </ul>
  </div>

  <section id="page-header" class="about-header">
    <h2>#Refer & Ear</h2>
    <p>Customize your identity with a personalized one!</p>
  </section>

  <% if( locals.message ){ %>
    <div style="color: green; text-align: center; margin-top: 20px;" id="hide">
      <%=message%>
    </div>
    <% } %>


      <div class="container">
        <div class="refer-div">
          <h2 style="color: #000;">Refer and Earn</h2>
          <p style="font-weight: 700; color: green;">Get rewards worth ₹150 per referrals!</p>
          <p style="margin-bottom: 9px; color: #000; font-weight: 900;">Referral link</p>
          <a onclick="copy()" style="cursor: pointer; font-size: 12px; font-weight: 600; color: #3d4f5f;"
            id="referral-link">localhost:3000/refferal?ref=<%= user._id %></a>
          <br>
          <br>
          <a class="btn" style="cursor: pointer;" id="show-modal">Show Referral Details</a>
        </div>
      </div>

      <div id="couponModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h4>Successful Referrals</h4>
          <br>
          <div class="coupon-container">
            <% if(locals.refferal && refferal.history.length>0){ %>
            <table>
              <thead>
                <tr>
                  <td style="font-weight: 900;">Name</td>
                  <td style="font-weight: 900;">Date</td>
                  <td style="font-weight: 900;">Amount</td>
                </tr>
              </thead>
              <% for(let i=0 ;i<refferal.history.length;i++){ %>
              <tbody>
              <tr>
                <td style="font-weight: 900; font-size: 12px;"><%= refferal.history[i].name %></td>
                <td style="font-weight: 700;"><%= refferal.history[i].referDate.toString().split(' ').slice(0,4) %></td>
                <td style="color: rgb(20, 133, 100); font-weight: 700;">+₹<%= refferal.history[i].amount %></td>
              </tr>
            </tbody>
            <% } %>
            </table>
            <% }else{ %>
              <h5 style="font-weight: 700;color: red;">Did't Refer Yet!</h5>
              <% } %>
          </div>
        </div>
      </div>




      <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
          <h4>Sign Up For Newsletters</h4>
          <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
        </div>
        <div class="form">
          <input type="text" placeholder="Your email address">
          <button class="normal">Sign Up</button>
        </div>
      </section>

      <footer class="section-p1">
        <div class="col">
          <img class="logo" src="images/logo.png" alt="">
          <h4>Contact</h4>
          <p><strong>Address: </strong> 562 Wellington Road, Street 32, San Francisco</p>
          <p><Strong>Phone: </Strong> +01 2222 365 /(+91) 01 2345 6789</p>
          <p><Strong>Hours: </Strong> 10:00 - 18:00, Mon - Sat</p>
          <div class="follow">
            <h4>Follow us</h4>
            <div class="icon">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-pinterest-p"></i>
              <i class="fab fa-youtube"></i>
            </div>
          </div>
        </div>

        <div class="col">
          <h4>About</h4>
          <a href="#">About us</a>
          <a href="#">Delivery Information</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Terms & Conditions</a>
          <a href="#">Contact Us</a>
        </div>

        <div class="col">
          <h4>My Account</h4>
          <a href="#">Sign In</a>
          <a href="#">View Cart</a>
          <a href="#">My Wishlist</a>
          <a href="#">Track My Order</a>
          <a href="#">Help</a>
        </div>

        <div class="col install">
          <h4>Install App</h4>
          <p>From App Store or Google Play</p>
          <div class="row">
            <img src="images/pay/app.jpg" alt="">
            <img src="images/pay/play.jpg" alt="">
          </div>
          <p>Secured Payment Gateways</p>
          <img src="images/pay/pay.png" alt="">
        </div>

        <div class="copyright">
          <p>© 2024, Tech2 etc - Ecommerce Website</p>
        </div>
      </footer>




      <script>

        document.addEventListener('DOMContentLoaded', function () {
          const openModalBtn = document.getElementById('show-modal');
          const modal = document.getElementById('couponModal');
          const closeModalBtn = modal.querySelector('.close');

          openModalBtn.addEventListener('click', function () {
            modal.style.display = 'block';
          });

          closeModalBtn.addEventListener('click', function () {
            modal.style.display = 'none';
          });

          window.addEventListener('click', function (event) {
            if (event.target === modal) {
              modal.style.display = 'none';
            }
          });
        });

        function copy() {

          const referralLink = document.getElementById('referral-link').textContent;

          navigator.clipboard.writeText(referralLink);

          const Toast = Swal.mixin({
            toast: true,
            position: "center",
            showConfirmButton: false,
            timer: 800,
          });
          Toast.fire({
            icon: "success",
            title: "Copied"
          });
        }

        const logout = document.getElementById('logout');
        logout.addEventListener('click', () => {
          Swal.fire({
            title: "Are you sure?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Logout"
          }).then((result) => {
            if (result.isConfirmed) {
              window.location.href = '/logout'
            }
          });
        })
      </script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

      <script src="/javaScript/script.js"></script>

      <%- include('../layouts/footer.ejs') -%>