<%- include('../layouts/header.ejs') -%>

      <header id="header">
        <a href="#"><img src="/images/logo.png" class="logo" alt=""></a>
        <div>
          <ul id="navbar">
            <li><a href="/home">Home</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/about">About</a></li>
            <li><a class="active" href="<%= locals.login ? '/profile' : '/login' %>" > <%= locals.login ? 'Profile' : 'Login' %></a></li>
        <li id="lg-bag"><a href="/wishlist"><i style="font-size: 20px;" class="fa-solid fa-heart"></i></a></li>
            <li id="lg-bag"><a href="/cart"><i class="fa-solid fa-bag-shopping nav-cart"></i></a></li>
            <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
          </ul>
        </div>
        <div id="mobile">
          <a href="/cart"><i class="fa-solid fa-bag-shopping"></i></a>
          <i id="bar" class="fas fa-outdent"></i>
        </div>
      </header>

      <section id="forms">
        <div id="wrapper">
          <div class="title">
            <span>Sign Up</span>
          </div>
          <% if( locals.message ){ %>
            <div style="color: red; font-weight: 900;" class="detials" id="hide">
              <%=message%>
            </div>
            <% } %>
          <form action="/signup?ref=<%= locals.ref %>" method="post">
            <div class="row">
              <i class="fas fa-user"></i>
              <input type="text" name="name" placeholder="Full Name" >
            </div>
            <div class="row">
              <i class="fas fa-user"></i>
              <input type="text" name="email" placeholder="Email" >
            </div>
            <div class="row">
              <i class="fa-solid fa-phone"></i>
              <input type="tel" name="mobile" placeholder="Phone Number" pattern="[0-9]{10}" >
            </div>
            <div class="row">
              <i class="fas fa-lock"></i>
              <input type="password" name="password" placeholder="Password" >
            </div>
            <div class="row">
              <i class="fas fa-lock"></i>
              <input type="password" name="cpassword" placeholder="Confirm Password" >
            </div>
            <div class="row button">
              <input type="submit" value="Sign Up">
            </div>
            <div class="signup-link">Already have an account? <a href="/login">Login</a></div>
          </form>
        </div>
      </section>

      <script src="/javaScript/script.js"></script>

      <%- include('../layouts/footer.ejs') -%>